*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#box{
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: rgb(231, 230, 230);
}
#nav{
    margin-left: 150px;
    
}
#nav>a{
    margin-left: 40px;
    color: rgb(31, 163, 224);
    text-decoration: none;
}
#nav>a:hover{
    color: black;
    text-decoration: underline;
}