.background{
    height: 53px;
    width:100%;
    display: flex;
    align-items: center;
    /* padding-bottom: 20px; */
    padding: 10px 0px;
    background-color:#0e0442 ;
} 
#inav{
width: 100%;
/* height: 50px; */
position: relative;
background-color:transparent; 
font: 12px lato, Arial, Helvetica, sans-serif;
color: white;
display: flex;
align-items: center;
padding: 8px;
z-index: 1000;
box-sizing: border-box;
transition: all 0.2s ease-in-out;

}
#inav > img{
    height:35px;
    width:100px;
    margin-left: 180px;
    margin-right: 60px;
     /* padding-left: 280px; */
    /* padding-right: 80px; */
    /* padding-bottom: 0px;  */
}
#inav{
    display:flex;
    align-items: flex-end;
    gap:20px;
    align-items: center;

}
#inav>h3{
    display:flex;
    align-items: center;
    font:10px;
    /* padding-top:20px; */
  
}
#ncAcc{
    text-decoration: none;
    margin-left: 200px;
}
#icons{
    gap:5px;
    display:flex;
    height: 35px;
    width:40px;   
}
#icons:hover{
    color:whitesmoke;   
}
#inav a{
    color:grey;
    text-decoration: none;
}
#inav a:hover{
    color:whitesmoke;
}
#spre{
    padding-top: 20px;
    /* border: 1px solid yellow; */
}
#img_acc{
    width: 5%;
    height: 5%;
    margin-left: -10px;
    border-radius: 50%;
}
 
#div_acc_img{
    /* border: 2px solid red; */
    display: flex;
    width: 100px;
    height: 50px;
    margin-left: 40px;
    /* align-items: center; */
     gap:0px; 
}
.child1{
height:12px;
width:12px;
border-radius: 50%;
}
.child{
/* border: 1px solid white; */
width: 33%;
display: flex;
padding: 2px;
justify-content: center;
align-items: center;

}
.child > a > img{
width: 80%;
height: 70%;

}
.child3{
width: 33%;
display: flex;
padding: 2px;
justify-content: center;
align-items: center;

}
.child3> a > img{
width: 80%;
height: 70%;
border-radius: 50%;
}





#main{
    color: #555555;
    margin: auto;
    /* font-size: 26px; */
    width: 70%;
    font-family:Lato, Arial, Helvetica, sans-serif;
    /* filter: contrast(7.45); */
    
    /* border-left:1px solid rgb(163, 159, 159) ;
    border-right:1px solid rgb(163, 159, 159) ; */
    
}

#mnav{
   
        display: flex;
        justify-content: flex-start;
        gap: 20px;
        /* border: 2px solid; */
        padding: 0% 17%;
        background-color: #eef0ed; 
        /* height: 100px; */
        /* position: fixed; */
        
      
}

.mera{
    color:#3BC6DB ;
    text-decoration: none;
    
  }

 
  .mera:hover{
    
      color:black;
      
    
  }
  .m_navbar{
    /* padding: 10px 0px; */
      }


.boxes{
    margin-top: 10px;
    /* border: 1px solid red; */
    margin-bottom: 20px;
}
.boxes div{
    /* border-bottom: 1px solid; */
    border-radius: 5px solid;

}
#box1{
    display:grid;
    grid-template-columns:57% 40%;
    /* grid-template-rows: 80%; */
    gap:2%;
    /* height:10%; */
    /* padding-top: -10px; */

    
}
#box2{
    background-color: #EEEEEE;
    border-radius: 3px;
    padding: 4px;
}

 #main>#box1>div:nth-child(2)>button{
    
    /* padding: 2px; */
    border-radius: 3px solid;

    color: rgb(53, 48, 48);

    /* font-weight: 300; */
    /* /* background: transparent; */
    /* font-family:Lato,Arial,sans-serif; */
    border: 2px solid rgb(105, 99, 99);
    /* filter: contrast(7.5);  */
    font-weight: bolder;
    padding:7px 30px;
}
#main>#box1>div:nth-child(2){
    margin: auto;
    color: rgb(53, 48, 48);

    padding: 7px;
    border-radius: 3px;
    background-color: #EEEEEE;
}

#blog_container{
    border-left: 1px solid gray;
    margin-bottom: 300px;
}

#blog_container>#blogsmallbox{
    display: flex;
    border-bottom: 1px solid grey;
}
#blog_container>#blogsmallbox div{
    /* border: 2px solid; */
    margin: 0px 10px ;

}



#footer{
    /* position: absolute; */
    left: 0px;
    bottom: 0px;
    background-color:#0e0442 ;
    height: auto;
    width: 100%;
    display: flex;
    
}

#footerR{
/* border: 1px solid red; */
width: auto;
max-width: auto;
padding: 50px;
box-sizing: border-box;
vertical-align: middle;
margin-left: 50px;
}
#footerL{
/* border: 1px solid yellow; */
vertical-align: middle;
padding: 80px;
margin-left: 250px;
}
#footerL>a>img{
height: 50px;
padding: 10px;

}
#footerR>p{
  color: #BBBBBB;
}
#footerR>a{
text-decoration: none;
color: white;
}
#footerR>img{
width: 200px;
}