*{
    margin: 0px;
    padding: 0px;
}
.background{
    height: 42px;
    width:100%;
    display: flex;
    align-items: center;
    /* padding-bottom: 20px; */
    padding: 10px 0px;
    background-color:#041b5c ;
} 
#inav{
width: 100%;
/* height: 50px; */
position: sticky;
background-color:transparent; 
font: 12px lato, Arial, Helvetica, sans-serif;
color: white;
display: flex;
align-items: center;
padding: 8px;
z-index: 1000;
box-sizing: border-box;
transition: all 0.2s ease-in-out;

}
#inav > img{
   
    height:35px;
    width:100px;
    padding-left: 280px;
    padding-right: 80px;
    padding-bottom: 0px;
}
#inav{
    display:flex;
    align-items: flex-end;
    gap:20px;
    align-items: center;

}
#inav>p{
    display:flex;
    align-items: center;
    font:10px;
    padding-top:20px;
  
}
p{
    font-size: 18px;
    text-decoration: none;
    
}
#icons{
    gap:5px;
    display:flex;
    height: 35px;
    width:40px;   
}
#icons:hover{
    color:whitesmoke;   
}
#inav a{
    color:grey;
    text-decoration: none;
}
p:hover{
   color:whitesmoke;
}
#inav a:hover{
    color:whitesmoke;
}
#spre{
    padding-top: 20px;
    /* border: 1px solid yellow; */
}
#img_acc{
    width: 5%;
    height: 5%;
    margin-left: -10px;
    border-radius: 50%;
}
 
#div_acc_img{
    /* border: 2px solid red; */
    display: flex;
    width: 100px;
    height: 50px;
    margin-left: 40px;
    /* align-items: center; */
     gap:0px; 
}
.child1{
height:12px;
width:12px;
border-radius: 50%;
}
.child{
/* border: 1px solid white; */
width: 33%;
display: flex;
padding: 2px;
justify-content: center;
align-items: center;

}
.child > a > img{
width: 80%;
height: 70%;

}
.child3{
width: 33%;
display: flex;
padding: 2px;
justify-content: center;
align-items: center;

}
.child3> a > img{
width: 80%;
height: 70%;
border-radius: 50%;
}