.background{
  height: 53px;
  width:100%;
  display: flex;
  align-items: center;
  /* padding-bottom: 20px; */
  padding: 10px 0px;
  background-color:#0e0442 ;
} 
#inav{
width: 100%;
/* height: 50px; */
position: relative;
background-color:transparent; 
font: 12px lato, Arial, Helvetica, sans-serif;
color: white;
display: flex;
align-items: center;
padding: 8px;
z-index: 1000;
box-sizing: border-box;
transition: all 0.2s ease-in-out;

}
#inav > img{
  height:35px;
  width:100px;
  margin-left: 180px;
  margin-right: 60px;
   /* padding-left: 280px; */
  /* padding-right: 80px; */
  /* padding-bottom: 0px;  */
}
#inav{
  display:flex;
  align-items: flex-end;
  gap:20px;
  align-items: center;

}
#inav>h3{
  display:flex;
  align-items: center;
  font:10px;
  /* padding-top:20px; */

}
#ncAcc{
  text-decoration: none;
  margin-left: 200px;
}
#icons{
  gap:5px;
  display:flex;
  height: 35px;
  width:40px;   
}
#icons:hover{
  color:whitesmoke;   
}
#inav a{
  color:grey;
  text-decoration: none;
}
#inav a:hover{
  color:whitesmoke;
}
#spre{
  padding-top: 20px;
  /* border: 1px solid yellow; */
}
#img_acc{
  width: 5%;
  height: 5%;
  margin-left: -10px;
  border-radius: 50%;
}

#div_acc_img{
  /* border: 2px solid red; */
  display: flex;
  width: 100px;
  height: 50px;
  margin-left: 40px;
  /* align-items: center; */
   gap:0px; 
}
.child1{
height:12px;
width:12px;
border-radius: 50%;
}
.child{
/* border: 1px solid white; */
width: 33%;
display: flex;
padding: 2px;
justify-content: center;
align-items: center;

}
.child > a > img{
width: 80%;
height: 70%;

}
.child3{
width: 33%;
display: flex;
padding: 2px;
justify-content: center;
align-items: center;

}
.child3> a > img{
width: 80%;
height: 70%;
border-radius: 50%;
}





#mnav{
   
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  /* border: 2px solid; */
  padding: 0% 17%;
  background-color: #eef0ed; 
  /* height: 100px; */
  /* position: fixed; */
  

}

.mera{
color:#3BC6DB ;
text-decoration: none; 
padding:10px 0px ;

}


.mera:hover{

color:black;


}

  

#friends-bar {
  display: flex;
  /* height: 5%; */
  margin: 3px 0px 0px;
/* padding: 5%; */
  justify-content: space-between;
  /* border: 1px solid; */
}
#findnew_friends_btn {
  /* background-color: white; */
  
  border-radius: 4px;
  
  
  font-size: 14px;
}
#Friends_h1 {
  margin: -4px 0px 15px;
}
.m_navbar {
  margin: 3px;
}

#mcontainer {
  /* border: 2px solid rgb(0, 17, 255); */
  width: 70%;
  margin: auto;
  height: 600px;
  color: #555555;
}
#mparent1 {
  width: 100%;
  margin-top: 2%;
  /* border: 5px solid rgb(219, 63, 24); */
  /* height: 5%; */
  /* margin: auto; */
  /* justify-content: space-between; */
  /* padding: 5%; */
}
#mparent2 {
  margin-top: -1%;
  /* border: 5px solid rgb(51, 222, 12); */
  display: grid;
  grid-template-columns: 70% 38%;
  gap: 1%;
  justify-content: space-between;
}

#msorting {
  display: flex;
  background-color:#d5d7d2;
  justify-content: space-between;
  padding:0% 3%;
  padding-bottom: 2%;

  font-size: 16px;
}


#m_profile-image {
  border-radius: 50%;
}



#mmycompetitons > #mcompet > table {
  width: 100%;
  /* border: 2px solid red; */
}
h1,h3,h2{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
p{
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}




#footer{
  /* position: absolute; */
  left: 0px;
  bottom: 0px;
  background-color:#0e0442 ;
  height: auto;
  width: 100%;
  display: flex;
  
}

#footerR{
/* border: 1px solid red; */
width: auto;
max-width: auto;
padding: 50px;
box-sizing: border-box;
vertical-align: middle;
margin-left: 50px;
}
#footerL{
/* border: 1px solid yellow; */
vertical-align: middle;
padding: 80px;
margin-left: 250px;
}
#footerL>a>img{
height: 50px;
padding: 10px;

}
#footerR>p{
color: #BBBBBB;
}
#footerR>a{
text-decoration: none;
color: white;
}
#footerR>img{
width: 200px;
}